In [1]:
import numpy as np
import pandas as pd
import dask
import dask.dataframe as dd

In [2]:
%%time
df = dd.from_array(np.random.randint(0,1000000,size=(15000000, 4)), columns=list('ABCD'))

CPU times: user 684 ms, sys: 54.6 ms, total: 739 ms
Wall time: 760 ms

In [3]:
%%time
df.compute()

CPU times: user 140 ms, sys: 116 ms, total: 256 ms
Wall time: 245 ms

            A       B       C       D
0      602709  782734  468066  921662
1      739485  571161  622752  707628
2      498336  941546  657259  576978
3      472741  443118  748326  346125
4      580040  715323  310793  679404
...       ...     ...     ...     ...
49995  553518  324979  622094  916401
49996  837651    3826  287347  680045
49997  492901  457825  558565  987617
49998  522623  732667  354363  294667
49999  661144  571291  100317  228756

[15000000 rows x 4 columns]

In [5]:
df.ndim

2

In [6]:
df.npartitions

300

In [7]:
df.dtypes

A    int64
B    int64
C    int64
D    int64
dtype: object

In [8]:
%%time
df.nlargest(5, 'D').compute()

CPU times: user 1.14 s, sys: 504 ms, total: 1.64 s
Wall time: 753 ms

            A       B       C       D
49548  477230  314050  531316  999999
13362  434693  383283  656275  999999
30849  641045  768491  837767  999999
19368  727333   15600   65253  999999
26079  178675  571715  641114  999999

In [9]:
a=df.assign(temp_f=lambda x: x.A+10)

In [10]:
%%time
a.compute()

CPU times: user 868 ms, sys: 623 ms, total: 1.49 s
Wall time: 1.1 s

            A       B       C       D  temp_f
0      602709  782734  468066  921662  602719
1      739485  571161  622752  707628  739495
2      498336  941546  657259  576978  498346
3      472741  443118  748326  346125  472751
4      580040  715323  310793  679404  580050
...       ...     ...     ...     ...     ...
49995  553518  324979  622094  916401  553528
49996  837651    3826  287347  680045  837661
49997  492901  457825  558565  987617  492911
49998  522623  732667  354363  294667  522633
49999  661144  571291  100317  228756  661154

[15000000 rows x 5 columns]

In [11]:
%%time
a.nlargest(5, 'temp_f').compute()

CPU times: user 2.08 s, sys: 1.25 s, total: 3.33 s
Wall time: 1.34 s

            A       B       C       D   temp_f
43540  999999  325617  620006  321533  1000009
25374  999999  493692   29345  911264  1000009
40457  999999   54088  394761  697764  1000009
22246  999999  470432  152898  530228  1000009
7624   999999  575232    5733  317070  1000009